# Direct package requirements
einops
scipy
torchsde
aiohttp
spandrel
kornia
urllib3==1.21
depthflow
diffusers
requests==2.32.3
fastapi==0.103.2
gradio_client==1.3.0
peewee==3.16.3
psutil==5.9.5
uvicorn==0.23.2
pynvml==11.5.0
python-multipart==0.0.9

