# Direct package requirements
einops
scipy
torchsde
aiohttp
spandrel
kornia
urllib3==1.21

# Requirements files to include
-r /storage/stable-diffusion-comfy/requirements.txt
-r /storage/stable-diffusion-comfy/tests-unit/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/ComfyUI_essentials/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/ComfyUI-Impact-Pack/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/efficiency-nodes-comfyui/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/ComfyUI-Easy-Use/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/ComfyUI_FL-Trainer/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/ComfyUI-Impact-Subpack/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/ComfyUI-Manager/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/stability-ComfyUI-nodes/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/ComfyUI-DepthAnythingV2/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/ComfyUI-Depthflow-Nodes/requirements.txt
-r /storage/stable-diffusion-comfy/custom_nodes/was-node-suite-comfyui/requirements.txt
