# Direct package requirements
einops
scipy
torchsde
aiohttp
spandrel
kornia==0.7.0
urllib3==1.21
requests==2.31.0
fastapi==0.103.2
gradio_client==0.6.0
peewee==3.16.3
psutil==5.9.5
uvicorn==0.23.2
pynvml==11.5.0
python-multipart==0.0.6
flet==0.23.2


# Requirements files to include
-r /storage/stable-diffusion-comfy/custom_nodes/comfyui-manager/requirements.txt
-r /storage/stable-diffusion-comfy/requirements.txt
